---
http_interactions:
- request:
    method: post
    uri: https://hoge.appsync-api.ap-northeast-1.amazonaws.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query list {\n  listMyCustomTypes {\n    items {\n      id\n      title\n      content\n    }\n  }\n}","operationName":"list"}'
    headers:
      X-Amz-Date:
      - 20190704T023505Z
      X-Amz-Content-Sha256:
      - 7fda7be26cae2ee46b270c4f856ef7hoge28e4631fb55d2e41da8a67480d11cc28e2
      Authorization:
      - AWS4-HMAC-SHA256 Credential=hoge/20190704/ap-northeast-1/appsync/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=282dfa2fd83625007e02492c0hogebe776c316cb12df6fdaa2cefb33637e98d
      Content-Type:
      - application/graphql
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amzn-Requestid:
      - b9a9233a-3c76-hoge-88f2-c125fe879883
    body:
      encoding: UTF-8
      string: '{"data":{"listMyCustomTypes":{"items":[{"id":"12345","title":"テストタイトル","content":"テストです"}]}}}'
  recorded_at: Thu, 04 Jul 2019 02:35:05 GMT
recorded_with: VCR 5.0.0
